html {
  font-family: "Noto Sans Japanese-Normal", sans-serif !important;
  line-height: 2;
  color: #252935;
}

header {
  box-shadow: 0px 1px 2px rgb(220, 220, 220);
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: white;
}

nav {
  width: 1190px;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: white;
}

.logo {
  width: 90px;
  height: 45px;
  object-fit: contain;
  margin: auto 20px;
  display: flex;
  align-items: center;
}

.navList {
  height: 90px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.navBtn {
  /* line-height: 90px; */
  color: #505563;
}

.navBtn:hover {
  color: #ff6e06;
}

.navReserve {
  width: 188px;
  background-color: #da3743;
  color: white;
  font-size: 18px !important;
  font-weight: bold !important;
  line-height: 39px;
  /* align-self: center; */
  text-justify: center;
  text-align: center;
  border-radius: 19.5px;
}

.slogan {
  width: 1190px;
  margin: 0 auto;
  padding: 20px;
}

.sloganTitle {
  padding: 100px 0 0;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 10px;
}
.orange {
  color: #ff6337;
}

.sloganEnglish {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 40px;
}

.sloganBgIMG {
  background-image: url(src/device.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 55vw;
}

.sloganText {
  color: #505563;
  font-size: 12pt;
  line-height: 2;
  margin-bottom: 40px;
}

.sloganBtn {
  background-color: #064c8c;
  color: white;
  padding: 12px 20px;
  border-radius: 7px;
  margin-bottom: 40px;
}

.worldBgIMG {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
    url("src/BlankMap-World.png");
  background-repeat: no-repeat;
  background-size: 80vw;
  background-position: top;
}

.world {
  height: 600px;
  padding: 200px;
  font-size: 17.33333px;
  color: #333333;
  text-align: center;
}

.countries {
  margin: 60px auto;
  display: flex;
  width: 1420px;
}

.country {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  opacity: 0.8;
}

.countryIcon {
  width: 100px;
  height: 100px;
  margin: 20px auto;
}

.tools {
  text-align: center;
}

.toolsBg {
  background-image: url(src/yellowcircle.svg);
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: -100px 500px;
}

.toolstitle {
  font-size: 32px;
  font-family: "Noto Sans Japanese-Normal" sans-serif !important;
  font-weight: 700;
}

.smalltitle {
  font-size: smaller;
}

.tool {
  display: flex;
  gap: 50px;
  width: 1200px;
  margin: 40px auto;
}
.toolImg {
  width: 500px;
  margin: auto auto;
  box-shadow: 10px 10px 40px rgb(220, 220, 220);
  border-radius: 20px;
}

.toolList {
  padding: 0 20px;
  font-size: 24px;
  text-align: left;
}

.toolList ul {
  color: #064c8c;
}

.toolList li {
  margin-top: 40px;
  color: #252935;
  display: flex;
}

.toolList p {
  font-size: 16px;
  font-weight: 500;
}

.toolList img {
  width: 44px;
  height: 44px;
  margin: 10px 40px 0 0;
  opacity: 0.5;
}
